@import 'scenes.image-styles';

.animation {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
  width: 100%;
  overflow: hidden;

  &.animation--start-screen {
  	width: auto;
  	flex-grow: 0;
  	// Make space for header.
    margin-top: 60px;
  	margin-bottom: 5px;
  	overflow: hidden;
    padding-top: 0;

  	@media(min-width: 1109px) {
  		overflow: visible;
  	}

  	.grommetux-headline.grommetux-headline--large {
      padding: 30px;
      margin: 0 24px 24px;
      border: 8px solid #2AD2C9;
      width: 90%;

      @include media-query(lap-and-up) {
        width: auto;
      }
    }

		.animation__sub-container {
	    margin-bottom: 20px;
		}
  }

  .animation-container {
		width: 100%;
	}

	.grommetux-carousel__track {
		overflow-y: visible;
	}

  .animation__carousel-item {
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	max-height: auto;
  	padding-bottom: 8px;
  	overflow: visible;

  	@media(min-width: 45em) {
  		padding-bottom: 30px;
  		padding-top: 10px;
  	}

  	img {
  		padding-left: 20px;
  		padding-right: 20px;

  		@media(min-width: 45em) {
		    padding: 0;
	    }
  	}
  }

	.anim-button {
		display: block;
		position: relative;
    opacity: 100;

    @include media-query(lap-and-up) {
      position: absolute;
      bottom: 0;
      transform: translateX(-50%);
    }

    @media(min-width: 500px) {
    	margin-bottom: 10px;
    }

    @media(max-height: 450px) {
    	margin-bottom: 5px;
    	&::before { display: none; }
    }

    .anim-button__icon {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    height: 35px;
	    width: 35px;
	    margin: 0 auto;

	    svg {
	    	fill: $brand-color;
	    	stroke: $brand-color;
	    	cursor: auto;
	    }
    }

    &.anim-button--start::before {
			display: block;
			content: "scroll to start the journey";
    }

    &.anim-button--end {
      position: absolute;
      bottom: 0;
			cursor: pointer;
      left: 50%;
      transform: translateX(-50%);
      padding-bottom: 10px;

			.anim-button__icon {
	    	border-radius: 225px;
	    	border: 2px $brand-color solid;
			}

			svg {
				padding: 3px;
				cursor: pointer;
			}

			&::before {
				display: block;
				content: "back to top";
			}
    }
	}

	.animation__button-cta {
		padding-left: 24px;
    padding-right: 24px;
		align-self: flex-start;
		font-weight: 700;
		font-size: 1.2rem;
		// Fix chrome opacity bug.
		transform: translateZ(0);
	}

	.animation__text-container {
		position: relative;
		overflow: hidden;
		width: 100%;

		.animation__text-track {
			width: 200%;
			height: 100%;
			display: flex;
    	flex-direction: row;

    	.animation__text-item {
		    display: flex;
		    align-items: center;
		    justify-content: center;
    	}

			.grommetux-headline {
				display: inline-block;
				//width: 50%;
				height: 100%;
			}

			// One item
			div:first-child:nth-last-child(1) {
			  width: 100%;
			}

			// Two items
			div:first-child:nth-last-child(2),
			div:first-child:nth-last-child(2) ~ div {
			  width: 50%;
			}

			// Three items
			div:first-child:nth-last-child(3),
			div:first-child:nth-last-child(3) ~ div {
			  width: 33.3333%;
			}
		}
	}

	// Max-height is specified for IE SVG rendering.
	.animation__container {
		position: relative;
    height: 30vh;
    width: 100%;
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    max-height: 300px;

    .animation__sub-container {
    	width: auto;
    }
	}

	.animation__sub-container {
		position: relative;
		height: 30vh;
		width: 100%;
		overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    max-height: 300px;

		.animation__scene-item {
			// Keep images scaled when re-sizing window.
			height: 100%;
			max-height: 300px;

			img {
				height: 100%;
				width: auto;
				max-height: 300px;
			}

			.animation__scene-item-stacked {
				position: absolute;
				top: 0;
				left: 0;

				img {
					height: 100%;
					width: auto;
					max-height: 300px;
				}
			}
		}
	}

	@media(min-width: 501px) {
		.grommetux-headline {
			text-align: center;
		}

		.animation__button-cta {
			align-self: center;
		}

		.grommetux-headline--small {
			padding-bottom: 20px;
		}
	}
}

@media(max-width: 45em), (max-height: 650px) {
	.grommetux-headline--large {
		font-size: 2.3rem;
	}

	.grommetux-headline--small {
		font-size: 1.3rem;
	}
}

@media(max-height: 450px) {
	.grommetux-headline--large {
		font-size: 2rem;
	}

	.grommetux-headline--small {
		font-size: 1.2rem;
		padding-bottom: 0;
	}

	.animation.animation--start-screen {
		.grommetux-headline.grommetux-headline--large {
			padding-top: 30px;
		}

		.grommetux-headline.grommetux-headline--small {
			padding-bottom: 10px;
		}
	}

	.animation.animation--end-screen {
		.headline.headline--large {
			padding-top: 40px;
		}

		.grommetux-headline.headline--small {
			padding-bottom: 10px;
			margin-bottom: 0;
		}
	}

	nav.section-nav .section-nav__container .logo-hpe {
		//width: 60%;
		padding: 15px;

		img {
			max-width: 100px;
		}
	}

	.animation {
		overflow: visible;

		* img {
			max-height: 130px;
		}

		.anim-button.anim-button--end {
			display: none;
		}

		.animation__carousel-item {
			max-height: 200px;

			img { max-height: 130px; }
		}

		.animation__sub-container .animation__scene-item .animation__scene-item-stacked img,
		.animation__sub-container .animation__scene-item img,
		.hotspot__container img {
    	max-height: 130px;
		}
	}

	.grommetux-carousel .grommetux-carousel__controls {
    //bottom: -23px;
	}

	.grommet.grommetux-layer.grommetux-layer--flush .grommetux-layer__container img {
		max-height: 130px;
	}
}
